spring:
  application:
    name: meca-puzzle-back-end

  datasource:
    url: jdbc:postgresql://localhost:5432/meca_db
    username: meca_user
    password: meca_pass
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
